@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT%3A400%2Citalic%7CPlayfair+Display%3A400%2Citalic%7CPoppins%3A300%2C400%2C500%2C600');

.app {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
  max-width: 1170px;
  margin: auto;
  font-family: "Poppins",'Helvetica Neue',Helvetica,Arial,sans-serif;
}

h1{
  font-size: 36px;
}

.margin-0{
  margin: 0;
}