.header {
  background-color: white !important;
  padding-top: 50px;
}
.new-navbar-toogle{
  border: none;
  & .navbar-toggler-icon {
    background-color: white;
    width: 20px;
    height: 16px;
    margin: auto;
    position: relative;
    background-image: none;
    &::before{
      content: ' ';
      position: absolute;
      left: 0;
      height: 100%;
      top: 0.21em;
      bottom: 0.21em;
      width: 1em;
      background: linear-gradient(to bottom, black, black 2px, white 2px, white 7px, black 7px, black 9px, white 9px, white 14px, black 14px, black 16px)
    }
  }
}

.navbar-light .navbar-nav .nav-link{
  color: #000;
}

.new-navbar-collapse{
  & a {
    font-size: 14px;
  }
}
