/*
 * Footer css File
*/

.footer {
    border-top: 1px solid #f0f0f0;
    padding: 50px 0px;
}

.right-side, .left-side{
    width: 50%;
}

.left-side{
    text-align: left;
}

.right-side{
    text-align: right;
}
